{% extends "timetable/layout.html" %}

{% block body %}
    <div id = "header" class="header"></div>

    {% if events%}
        {% for event in events%}
        <div style = "display: flex; justify-content: space-between; margin: 20px; padding: 10px; border: solid 1px; border-radius: 5px;" >
            <div>
                <strong>
                    {{event.user}}
                </strong>
                created <em>"{{ event.name }}"</em> scheduled for
                {% if event.start_date == event.end_date %}
                    <em>"{{event.start_date}}"</em>.
                {% else %}
                    <em>"{{event.start_date}}</em> to <em>{{event.end_date}}"</em>.
                {% endif %}
            </div>
            <div>
                {{event.created_datetime}}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div>
            No feeds found.
        </div>
    {% endif %}

{% endblock %}