{% extends "timetable/layout.html" %}

{% block head%}
    <link rel="stylesheet" href="/static/css/timetable.css" type="text/css">
{% endblock %}

{% block body %}
    <div id = "header" class="header"></div>
    <div id = "timetable_container" class="timetable_container">
        <div id="time_container" style="display: flex; justify-content: center; text-align: center;">
            <div class="timeblock"></div>
        </div>
    </div>

    <script src="/static/js/timetable.js"></script>
    <script>
        render_table();
    </script>
{% endblock %}