{% extends "timetable/layout.html" %}

{% block body %}
    <div class="header">
        <h1> Current Timetable </h1>
    </div>

    <div class = "timetable_container">    
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class = "timeblock"></div>
            <div class = "timeblock"> 0600 to 0700 </div>
            <div class = "timeblock"> 0700 to 0800 </div>
            <div class = "timeblock"> 0800 to 0900 </div>
            <div class = "timeblock"> 0900 to 1000 </div>
            <div class = "timeblock"> 1000 to 1100 </div>
            <div class = "timeblock"> 1100 to 1200 </div>
            <div class = "timeblock"> 1200 to 1300 </div>
            <div class = "timeblock"> 1300 to 1400 </div>
            <div class = "timeblock"> 1400 to 1500 </div>
            <div class = "timeblock"> 1500 to 1600 </div>
            <div class = "timeblock"> 1600 to 1700 </div>
            <div class = "timeblock"> 1700 to 1800 </div>
            <div class = "timeblock"> 1800 to 1900 </div>
            <div class = "timeblock"> 1900 to 2000 </div>
            <div class = "timeblock"> 2000 to 2100 </div>
            <div class = "timeblock"> 2100 to 2200 </div>
            <div class = "timeblock"> 2200 to 2300 </div>
            <div class = "timeblock"> 2300 to 0000 </div>                    
        </div>
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Sun</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div> 
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Mon</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div> 
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Tue</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div> 
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Wed</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div> 
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Thu</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div> 
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Fri</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div> 
        <div style = "display: flex; justify-content: center; text-align: center;">             
            <div class="dayCol timeblock">Sat</div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
            <div class = "timeblock"></div>
        </div>         
    </div>
{% endblock %}