.form_space {
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.input_space {
    display: flex; 
    height: 44px; 
    background: white;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
}

.input_div {
    flex: 1;
    display: flex;
    padding: 7px 10px 0 10px;
}

.searchicon_space{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.inputtext_space {
    display: flex; 
    flex: 1; 
    flex-wrap: wrap;
}

.input_text {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: black;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    flex: 100%;
}

.othericon_div {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.empty_div {
    padding-right: 4px;
    background: transparent;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: row;
    display: flex;
}

.othericon_space {
    flex: 1 0 auto; 
    display: flex; 
    cursor: pointer; 
    align-items: center; 
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.cameraicon_space {
    display: flex; 
    cursor: pointer; 
    align-items: center; 
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.btn_space{
    height: 70px;
    padding-top: 18px
}

.btn {
    background-color: #e7e7e7;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #303134;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}
