.centralize {
    display: flex;
    justify-content: center;
}

.webpageOpt_space {
    display: inline-block;
    padding-left: 15px;
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.webpageOpt {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.webpageOpt_div {
    white-space: nowrap;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 48px;
    padding: 4px 4px;
}

.google_icon {
    width: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
