{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in activelist_objects %}

    <div style="border: solid black 3px; display: flex; margin: 10px 0px 10px 0px">
        <div style="width: 200px; height: 200px; display: flex; justify-content: center;">
            <img src="{{ listing.image_url }}"/>
        </div>
        
        <div style="margin: 10px 5px">
            <h3><strong><a href = "/view_list/{{listing.title}}">{{listing.title}}</a></strong></h3>
            <div> <strong>Price: </strong>${{listing.start_bid}} </div>
            <div> {{listing.description}}</div><br>

            <label> Created: </label>
        </div>
    </div>

    {% endfor %}

{% endblock %}