{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Title of the List -->
    <h2>Listing: {{ view_list.title }}</h2><br>

    <!-- Details about the listing, including the current price -->
    <div style="display:flex; justify-content: center;">
        <img src="{{ view_list.image_url }}" height="200px"/>
    </div>

    <div>{{ view_list.description }}</div><br>

    <div style="font-size: 30px; font-weight: bolder;">${{ view_list.bid_value }}</div>

    <div>{{ view_list.bid_counter }} bid(s) so far.</div>

    <!-- Upon sign in, user should be able to bid item, add or remove from Watchlist -->
    {% if view_list.active_stat == True %}
        <form style="display: flex;" action="/bid/{{view_list.title}}" method="POST">
            {% csrf_token %}
            <div>
                <input type="number" min="{{view_list.bid_value}}" name="bid_value">
            </div>
            <div style="width: 150px; margin: 0px 10px 0px 10px;">
                <button type="submit" style="margin-bottom: 5px"> Place Bid </button>
            </div>
        </form>

        {% if view_list.title not in watchlists %}        
            <a href="/watchlist/{{view_list.title}}"><button style = "margin-bottom: 5px"> Add to Watchlist </button></a>
        {% else %}
            <a href="/watchlist/{{view_list.title}}"><button style = "margin-bottom: 5px"> Remove from Watchlist </button></a>
        {% endif %}

        <!-- Upon sign in, if item is created by the user, they can "close" the auction, making the highest bidder the winner and the listing becomes unavailable -->
        {% if view_list.creator.username == user.username %}          
            <a href="/close_auc/{{view_list.title}}"><button>Close Auction</button></a>
        {% endif %}

        <br>
    
    {% else %}
        <br>
        <div> The auction is closed. </div>
        <!-- Upon sign in, if the user won the auction, the closed page would say so -->
        {% if view_list.bid_winner == user.username %}
            <div> Congratulations! You have won the bid! </div>
        {% endif %}
    {% endif %}

    <br>

    <div><strong>Details</strong></div>
    <li> Listed by: {{ view_list.creator }} </li>
    <li> Category: {{ view_list.category }} </li> 

    <br>
  
    <!-- Display all previous comments -->
    <div><strong>Comments</strong></div>
    
    {% for comment in comments %}
        <div style="border: solid grey 1px; margin: 5px;"> 
            <div style="display: flex; justify-content: space-between">
                <div style = "margin: 0px 10px 0px 10px;"><strong> {{ comment.commentor_name }}</strong></div>
                <div style = "margin: 0px 10px 0px 10px;"> Posted on {{ comment.commented_datetime }}</div>
            </div>

            <div style = "margin: 5px 10px 5px 10px;"><em>{{ comment.comment }}</em></div>
        </div>
    {% endfor %}

    <!-- Users should be able to add comments to the listing page -->
    <form style="border: solid black 3px; margin: 15px 5px 5px 5px; display: flex; justify-content: space-between; overflow: hidden;" action = "/comment/{{view_list.title}}" method = "POST">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="Add a Comment" style = "width: 100%;">
        <button type ="submit"> Comment </button>
    </form>


{% endblock %}


