{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- Contains the content of an email mailbox -->
    <div id="emails-view"></div>

    <!-- Contains a form where user can compose a new email -->
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>

    <div id = "message-view">
        <div id="message_sender"></div>
        <div id="message_recipients"></div>
        <div id="message_subject"></div>
        <div id="message_timestamp"></div>
        <br>
        <div id = message_btns style = "display: flex;">
            <button class="btn btn-sm btn-outline-primary" id="reply">Reply</button> &nbsp;
            <button class="btn btn-sm btn-outline-primary" id="archive"></button>
        </div>
        <hr>
        <div id="message_body"></div>
    </div>

{% endblock %}

{% block script %}
    <script>
    function archive_email(email, archive_stat, mailbox){
        fetch(`/emails/${email.id}`, {
            method: 'PUT',
            body: JSON.stringify({
                archived: !archive_stat
            })
        })
        .then(response => {
            if (response.ok) {
                load_mailbox("inbox");
            }
            else{
                console.log("Failed to update email status.");
            }
        })
        .catch(error => {
            // Handle any errors that occurred during the fetch
            console.error('Error:', error);
        });
    }

    function reply_email(email) {       
        // Show compose view and hide other views
        document.querySelector('#compose-view').style.display = 'block';
        document.querySelector('#emails-view').style.display = 'none';
        document.querySelector('#message-view').style.display = 'none';

        // Clear out composition fields
        document.querySelector('#compose-recipients').value = email.sender;
        document.querySelector('#compose-subject').value = email.subject.includes('Re:') ? email.subject : `Re: ${email.subject}`;
        document.querySelector('#compose-body').value = `\n\nOn ${email.timestamp} ${email.sender} wrote:\n${email.body}\n\n`;
    }

    function render_email(email_id, mailbox){
        document.querySelector('#compose-view').style.display = 'none';
        document.querySelector('#emails-view').style.display = 'none';
        document.querySelector('#message-view').style.display = 'block';
        
        fetch(`/emails/${email_id}`)
        .then(response => response.json())
        .then(email => {
            console.log(email);

            if (!email.read){
                fetch(`/emails/${email_id}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        read: true
                    })
                })
                .catch(error => {
                    console.error('Error updating email status:', error);
                });
            }

            document.querySelector('#message_sender').innerHTML = "<strong>From: </strong>" + email.sender;
            document.querySelector('#message_recipients').innerHTML = "<strong>To: </strong>" +email.recipients;
            document.querySelector('#message_subject').innerHTML = "<strong>Subject: </strong>" +email.subject;
            document.querySelector('#message_timestamp').innerHTML = "<strong>Timestamp: </strong>" +email.timestamp;
            document.querySelector('#message_body').innerHTML = email.body;

            if (mailbox === "inbox") {
                document.querySelector('#reply').style.display = "block";
                document.querySelector('#reply').onclick = () => reply_email(email);

                document.querySelector('#archive').style.display = "block";
                document.querySelector('#archive').innerHTML = email.archived ? "Unarchive" : "Archive";
                document.querySelector('#archive').onclick = () => archive_email(email, email.archived, mailbox);
            }
            else if (mailbox === "archive"){
                document.querySelector('#reply').style.display = "none";
                
                document.querySelector('#archive').style.display = "block";
                document.querySelector('#archive').innerHTML = email.archived ? "Unarchive" : "Archive";
                document.querySelector('#archive').onclick = () => archive_email(email, email.archived, mailbox);
            }
            else {
                document.querySelector('#reply').style.display = "none";
                document.querySelector('#archive').style.display = "none";
            }           
        });
    }
    </script>    
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}