{% extends "network/layout.html" %}

{% block heading %} 
    <div style = "margin: 20px 20px 20px 20px; font-size: 25px;">
        <strong>User Profile</strong>
    </div>
{% endblock %}

{% block body %}
    <div style = "margin: 20px 20px 20px 20px; font-size: 25px;">
        <div> <strong>{{user.username}}</strong> </div>
        <div> Followers: {{user.followers.all.count}} </div>
        <div> Following: {{user.following.all.count}} </div>
        
        {% if request.user.username != user.username %}
            <button>
                <a href="{% url 'network:follow_user' user.username %}">
                    {% if request.user not in user.followers.all %}
                        Follow
                    {% else %}
                        Unfollow
                    {% endif %}
                </a>
            </button>
        {% endif %}
    </div> 

    {% for post in posts %}
        <div style="margin: 20px 20px 20px 20px; border: solid gray 2px; border-radius: 5px; padding: 20px 20px 20px 20px;">
            <h5 style="text-decoration:underline;"> {{post.creator}} </h5>
            {% if post.creator == request.user %}
            <div id = "edit_{{post.id}}"onclick = "editPost('{{post.id}}')">
                <a href ="#"> Edit </a>
            </div>
            {% endif %}
            <div id = "postcontent_{{post.id}}"> {{post.content}} </div>
            <div> {{post.created_datetime}} </div>
            &nbsp;
            <div style="display:flex;">
                <div id="like_{{post.id}}" style="margin-top:-3px;">
                    <img src="/static/network/img/like.jpg"/>
                </div>
                <div id="likecount_{{post.id}}"> {{post.likes}}</div>
            </div>
            <div> Comment </div>
        </div>
    {% endfor %}

{% endblock %}

{% block paginator %}
    <div style="display:flex; justify-content: center; margin: 20px 20px 20px 20p">
        {% if posts.has_previous %}
        <a href="?page=1">&laquo; &nbsp; First &nbsp; </a>
        <a href="?page={{ posts.previous_page_number }}">&nbsp; Previous &nbsp;</a>
        {% endif %}

        <span class="current">
            &nbsp; Page {{ posts.number }} of {{ posts.paginator.num_pages }} &nbsp;
        </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">&nbsp; Next &nbsp;</a>
        <a href="?page={{ posts.paginator.num_pages }}">&nbsp; Last &nbsp; &raquo;</a>
        {% endif %}
    </div>
{% endblock %}